extends layout

block content
    h1.text-center= title
    hr
    br
    #home.page.shadow.p-3.mb-5.bg-body.rounded
      .container
        .position-relative
            #softwareDescription
              h3 Die intelligente Art zu shoppen.
              p Verwalten Sie Ihren Einkauf mit unserer leistungsstarken Software und sparen Sie kostbare Zeit. Erfahren Sie mehr über uns.
              a#aboutBtn.btn.btn-outline-dark(href="/about") Mehr erfahren