doctype html
html
  head
    title GroBro
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="shortcut icon" type="image/x-icon" href="/images/icon.png")
  body
    block content
    .container
      hr
      footer
        div#findUs
          a(href="https://www.facebook.com")
            i#social.fab.fa-facebook-square.fa-3x
          a(href="https://www.instagram.com")
            i#social.fab.fa-instagram.fa-3x
          a(href="https://www.amazon.com")
            i#social.fab.fa-amazon.fa-3x
          a(href="https://www.youtube.com")
            i#social.fab.fa-youtube.fa-3x
          a(href="https://www.pinterest.com")
            i#social.fab.fa-pinterest-square.fa-3x
          a(href="https://www.twitter.com")
            i#social.fab.fa-twitter-square.fa-3x
        br
        p Copyright &copy; 2021 GroBro Inc. Alle Rechte vorbehalten.
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/javascripts/httpMethods.js")
    script(src="/javascripts/searchProduct.js")
    script(src="/javascripts/validation.js")